<section class="header">
    <div class="container">
        <div class="header__inner">
            <button class="header__button create-request__btn" type="button" data-filter="request" >Создать заявку</button>
            <button class="header__button create-chat__btn" type="button" data-filter="chat" >Споймать покемона</button>
            <button class="header__button hide-chat__btn" type="button" data-filter="hide-chat">Отпустить покемона</button>
        </div>
    </div>
</section>