html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--------------------------------HEADER*/

.header {
  background-color: #000;
}

.header__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header__btn-box {
  display: flex;
  gap: 10px;
}

.header__button,
.header__search-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #fff;
}

.header__search-input {
  height: 38px;
}

/*--------------------------------FILTER*/

.filter {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter__btn {
  margin-top: 8px;
  height: 34px;
  background-color: #000;
  color: #fff;
  min-width: 34px;
  cursor: pointer;
}

/*--------------------------------FORM*/

.form{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  height: 80px;
  transition: all .5s;
  margin-bottom: 10px;
}

.form--open {
  height: 202px;
}

.form--open > .form__btn-open {
  transform: scaleY(-1) rotate(-90deg);
}

.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.time {
  width: 155px;
}

.time-to {
  width: 85px;
}

.phone_number {
  width: 130px;
}

.name {
  width: 100px;
}

.address {
  width: 250px;
}

.paycheck{
  width: 80px;
}

.chat_id,
.status_id{
  height: 34px;
  width: 80px;
}

.description,
.admin_notes,
.master_notes {
  width: 370px;
}

.form__btn {
  margin-top: 12px;
  height: 34px;
  background-color: #000;
  color: #fff;
  min-width: 34px;
  cursor: pointer;
}

.form__btn-open {

  transform: rotate(-90deg);
}

input,
textarea{
  padding: 5px;
}

textarea {
  resize: none;
}

label {
  margin-bottom: 3px;
}

.modern {
  background-color: #F8E4BE;
}

.closed {
  background-color: #AEC670;
}

.denied {
  background-color: #F5704A;
}

/*--------------------------------MODAL*/

.modal {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal--visible {
  display: flex;
}

.form__create-request,
.form__create-chat,
.form__hide-chat {
  padding: 30px 30px;
  height: auto;
  background-color: #fff;
}

.hide-chat_id{
  height: 33px;
}

/*--------------------------------FOOTER*/

.footer {
  background-color: #000;
  padding: 20px 0;
}

.footer__inner {
  color: #fff;
  text-align: center;
}